{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">Login #05</h2> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <!-- <div class="img" style="background-image: url(images/bg-1.jpg);"></div> -->
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="{% url 'accounts:login' %}" method="post" class="signin-form">

                            {% csrf_token %}
                            <div class="form-group mt-3">
                                <input type="text" name="username" class="form-control" placeholder="username">

                            </div>
                            <div class="form-group mt-3">
                                <input type="email" name="email" class="form-control" placeholder="email">

                            </div>
                            <div class="form-group">

                                <input type="password" name="password" class="form-control" placeholder="password"
                                    required>

                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign
                                    In</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="{% url 'accounts:forget_password' %}">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab"
                                href="{% url 'accounts:signup' %}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}