{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <!-- <h2 class="heading-section">Login #05</h2> -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <!-- <div class="img" style="background-image: url(images/bg-1.jpg);"></div> -->
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Confirm Password</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        {% if validlink %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        <form method="post" class="signin-form">
                            {% csrf_token %}

                            <div class="form-group mt-3">
                                <input type="password" name="new_password1" autocomplete="new-password"
                                    class="form-control" required id="id_new_password1" placeholder="Enter password" />
                            </div>
                            <div class="form-group mt-3">
                                <input type="password" name="new_password2" autocomplete="new-password" required
                                    id="id_new_password2" class="form-control" placeholder="Confirm password" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    id="reset">Reset Password</button>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab" href="{% url 'accounts:login' %}">Sign
                                In</a></p>
                        {% else %}
                        <div class="alert alert-warning">
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}